/* Index */
body {
    counter-reset: game; /* Crea o reinicia un contador */
}
input:checked {
    counter-increment: game; /*Incrementa un valor del contador */
}
.total-counter::after {
    /*content inserta el contenido generado (debe usarse con un pseudoelemento)*/
    /* counter() es una función que agrega el valor de un contenedor a un elemento */
    content: counter(game);
}
/* Contexto de apilamiento */
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.phone {
    width: 300px;
    height: 600px;
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    background: #CCEFFF;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.layer {
    position: absolute;
}
.layer-1 {
    z-index: 1;
    height: 465px;
    width: 80px;
    bottom: 0;
    right: 60px;

    animation-name: jump; /* Función para nombrar a la animación y llamarla con los keyframes */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes jump {
    0% {
        height: 465px;
    }
    50% {
        height: 410px;
    }
    100% {
        height: 465px;
    }
}

.layer-2 {
    z-index: 2;
    height: 450px;
    width: 80px;
    bottom: 0;
    left: 60px;

    animation-name: jump; /* Función para nombrar a la animación y llamarla con los keyframes */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes jump {
    0% {
        height: 465px;
    }
    50% {
        transform: translate(0, 5px);
        height: 410px;
    }
    100% {
        transform: translate(0px ,0px);
        height: 465px;
    }
}
.layer-3 {
    z-index: 3;
    height: 410px;
    width: 225px;
    background: green;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-radius: 20px;
}
.layer-4 {
    z-index: 4;
    height: 365px;
    width: 80px;
    bottom: 0;
    left: 20px;

    animation-name: jump1; /* Función para nombrar a la animación y llamarla con los keyframes */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes jump1 {
    0% {
        height: 365px;
    }
    50% {
        height: 310px;
    }
    100% {
        height: 365px;
    }
}
.layer-5 {
    z-index: 5;
    height: 310px;
    width: 200px;
    background: rgb(7, 146, 7);
    left: 0;
    bottom: 0;
    border-radius: 20px;
    border-bottom-left-radius: 30px;
}
.layer-6 {
    z-index: 6;
    height: 225px;
    width: 80px;
    bottom: 0;
    left: 205px;

    animation-name: jump2; /* Función para nombrar a la animación y llamarla con los keyframes */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes jump2 {
    0% {
        height: 225px;
    }
    50% {
        height: 170px;
    }
    100% {
        height: 225px;
    }
}
.layer-7 {
    z-index: 7;
    height: 170px;
    width: 160px;
    background: green;
    left: 138px;
    bottom: 0;
    border-radius: 30px;
}
.layer-8 {
    z-index: 9;
    height: 100px;
    width: 120px;
    background: red;
    left: 0px;
    bottom: 0;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}
.layer-9 {
    z-index: 8;
    height: 135px;
    width: 120px;
    background: wheat;
    left: 0px;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.layer-10 {
    z-index: 10;
    height: 100px;
    width: 120px;
    background: red;
    left: 178px;
    bottom: 0;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
/* bunny */
.left-ear--outer {
    background: wheat;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    left: 10px;
}
.left-ear--inner {
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 8px;
}
.right-ear--outer {
    background: wheat;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    right: 10px;
}
.right-ear--inner {
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 8px;
}
.head {
    background: wheat;
    width: 100%;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
}
.head__eye {
    background: black;
    border-radius: 50px;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 20px;

    animation-name: blink; /* Función para nombrar a la animación y llamarla con los keyframes */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        height: 5px;
    }
    5% {
        transform: translate(0, 2px);
        height: 1px;
    }
    10% {
        transform: translate(0px ,0px);
        height: 5px;
    }
}

.head__eye--left {
    left: 25px;
}
.head__eye--right {
    right: 25px;
}
/* wall */
.wall--gren {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    height: 30px;
    background: linear-gradient(135deg, #408b40 25%, transparent 25%) -50px 0,
                linear-gradient(-135deg, #408b40 25%, transparent 25%) -50px 0,
                linear-gradient(45deg, #408b40 25%, transparent 25%),
                linear-gradient(-45deg, #408b40 25%, transparent 25%);
    background-size: 30px 80px;
    border-radius: 20px;
}